
####################### THE FILENAME WILL NEED TO BE CHANGED FROM config.py.example TO config.env TO ALLOW THE BOT TO USE THE ENVIRONMENTAL VARIABLES ###############################

# RUN LIVE TRADER. IF SET TO TRUE, LIVE TRADER WILL RUN AND PAPER TRADER WILL NOT RUN. IF SET TO FALSE, ONLY PAPER TRADER WILL RUN #
RUN_LIVE_TRADER = False    # THIS APPLIES TO TDA OR TRADIER (TDA WILL ALSO HAVE TO BE SET TO "LIVE" IN MONGO
RUN_TRADIER = False         # IF SET TO FALSE, IT WILL RUN TD API

IS_TESTING = False         # SET TO TRUE IF OUTSIDE MARKET HOURS
TRADE_HEDGES = True

# MONGO #
MONGO_URI = 'mongodb+srv://XXXXXXX:XXXXXXXX@cluster1.XXXXXX.mongodb.net/Api_Trader?retryWrites=true&w=majority'

# CONNECT TO GMAIL #
RUN_GMAIL = True
RUN_DISCORD = False
RUN_LIST = False
RUN_OPENCV = True
TICKER_LIST = ['SPY', 'QQQ']

# PUSHSAFER #
PUSH_API_KEY = None         # *enter pushsafer api key here*

# PYTZ TIMEZONE #
TIMEZONE = 'US/Eastern'

# TASKS #
RUN_TASKS = True
RUN_WEBSOCKET = True

TURN_ON_TIME = "09:00:00"        # WHEN WOULD YOU LIKE TO START THE BOT
TURN_OFF_TRADES = "15:58:00"     # WHAT TIME DO YOU WANT TO STOP ACCEPTING TRADES
DAY_TRADE = True                 # SELL ALL POSITIONS AT END OF DAY?
SELL_ALL_POSITIONS = "15:59:00"  # WHAT TIME TO SELL ALL OPEN POSITIONS
SHUTDOWN_TIME = "15:59:00"       # WHAT TIME TO TURN THE BOT OFF


##########################   TRADING CRITERIA   #################
MIN_OPTIONPRICE = 1
MAX_OPTIONPRICE = 3
MIN_VOLUME = 3000
MIN_DELTA = .3

# ORDERS #
GET_PRICE_FROM_TD = True
BUY_PRICE = 'bidPrice'      # bidPrice, askPrice, lastPrice, mark
SELL_PRICE = 'askPrice'     # bidPrice, askPrice, lastPrice, mark
MAX_QUEUE_LENGTH = 2        # minutes

# OCO #
TAKE_PROFIT_PERCENTAGE = .1
STOP_LOSS_PERCENTAGE = .1

# TRAIL #
TRAIL_STOP_PERCENTAGE = .5

# RUNNERS - if you sell out at take profit, what's next? #
ADD_RUNNING_ORDERS = True
RUNNER_FACTOR = .5          # ONLY MATTERS IF YOU'RE DOING A RUNNER STRATEGY
RUNNER_TAKE_PROFIT_PERCENTAGE = .2
RUNNER_STOP_LOSS_PERCENTAGE = .1
RUNNER_MIN_VOLUME = 750

TRADE_MULTI_STRIKES = False  # TRADE DIFFERENT STRIKES OF SAME UNDERLYING SYMBOL


###################     TECHNICAL ANALYSIS   ####################
RUN_TA = True
RUN_SELL_TA = True


############################     TD STREAMING   #################
API_KEY = 'XXXXXXXXXXXXXXXXXXX@AMER.OAUTHAP'
REDIRECT_URI = 'https://localhost'
ACCOUNT_ID = XXXXXXXXXXXXXXXXX
HEARTBEAT_SETTING = 120
STREAMPRICE_LINK = 'ASK'     # Do you want to track the ASK, BID, LAST

# TOKEN_PATH = '/Users/mattogden/thinkorswim/TradingBOT/tradierAPI/tdameritrade/token'
TOKEN_PATH = 'C:/Users/Mogde/PycharmProjects/TradierTDA_Trader/tdameritrade/token'


##############################     DISCORD   ####################
CHANNELID = 'XXXXXXXXXXXXXXXXX'
DISCORD_AUTH = 'mfa.XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX'
DISCORD_USER = 'Flow Bot'
STRATEGY = 'DISCORD'

# ALERTS #
DISCORD_WEBHOOK = 'https://discord.com/api/webhooks/XXXXXXXXXXXXXXXX/XXXXXXXXXX'


########################   TRADIER   ############################
# REAL TRADING #
LIVE_ACCESS_TOKEN = 'XXXXXXXXXXXXXXXXXX'
LIVE_ACCOUNT_NUMBER = '123123123'

# PAPER TRADING #
SANDBOX_ACCESS_TOKEN = 'XXXXXXXXXXXXXXXXXXXXXXX'
SANDBOX_ACCOUNT_NUMBER = '789789789'


########################   BACKTESTER   ############################
RUN_BACKTEST = True
POLYGON_URI = 'XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX'
EXT_DIR = 'C:/Users/Mogde/PycharmProjects/TradierTDA_Trader'    # THIS IS THE ROOT FOLDER OF YOUR CODE (WHERE MAIN.PY IS LOCATED)
LOOKBACK_DAYS = 2           # LOOKBACK FROM CURRENT UCT TIME
TEST_DISCORD = False
TEST_CLOSED_POSITIONS = True      # CLOSED AND ANALYSIS POSITIONS CANNOT BE TESTED TOGETHER, ONLY ANALYSIS WILL BE TESTED IF BOTH ARE TRUE
TEST_ANALYSIS_POSITIONS = False
POSITION_SIZE = 300         # ASSUMED POSITION SIZE FOR EACH TRADE
RUN_BACKTEST_TIME = "01:00:00"  # POLYGON DATA IS USUALLY AVAIALBLE AT MIDNIGHT EST
COMMISSION = 0           # HOW MUCH IS YOUR COMMISSION?
MAX_OPTIONPRICE_BACKTEST = 3
MIN_OPTIONPRICE_BACKTEST = .5
BACKTEST_RUNNER_FACTOR = .5
TEST_RUNNING_STRATEGY = False


########################   OpenCV   ############################
MIN_DTE = 1
TRADE_SYMBOL = "SPY"
ITM_OR_OTM = 'OTM'

THRESHOLD = 0.85
MONITOR_ID = 1
CHART_X_COORDINATE = -945
CHART_Y_COORDINATE = 496
CHART_X2_COORDINATE = -35
CHART_Y2_COORDINATE = 849

SCAN_TIMES = 15
SLEEP_AFTER_EACH_SCAN = .5
SLEEP_AFTER_TRADE = 60
CLOSE_SCAN_TIME = 5
SLEEP_AFTER_EACH_SCAN_CLOSE = 1
SLEEP_AFTER_CLOSE = 60


